body {
	margin: 5px;
}

.app-container {
	display: flex;
	justify-content: center;
	text-align: center;
}

.app-container-aic {
	padding-inline: 20px;
}

button {
	width: 100%;
	font-size: 1.1rem;
	padding: 12px 24px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background 0.3s ease, transform 0.2s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	gap: 8px;
}

/* Botón para iniciar llamada */
.btn-startCall-3mt {
	height: 52px;
	background: linear-gradient(190deg, #003da5 0%, #2e81c4 100%);
	color: white;
}

.btn-startCall-3mt:hover {
	transform: scale(1.03);
}

.btn-startCall-wsc {
	height: 52px;
	background-color: #fa9500;
	color: #000;
}

.btn-startCall-wsc:hover {
	background-color: #fca421;
	transform: scale(1.03);
}

.btn-startCall-smc {
	height: 52px;
	background: linear-gradient(190deg, #003da5 0%, #00beee 100%);
	color: #fff;
}

.btn-startCall-aic {
	height: 52px;
	background-color: #262252 !important;
	border: 2px solid #383479 !important;
	color: white !important;
	transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
	background: rgb(93, 254, 202);
	box-shadow: 1px 1px 10px rgb(93, 254, 202);
}

.btn-startCall-smc:hover {
	transform: scale(1.03);
}

.btn-startCall-aic:hover {
	background-color: #5a54c6 !important;
	border-color: #7873f5 !important;
	transform: scale(1.05);
	cursor: pointer;
}

/* Botón para detener llamada */
.btn-stopCall {
	background-color: #f44336;
	color: white;
}

.threemt {
	border-radius: 30px;
	height: 52px;
}

.btn-stopCall:hover {
	background-color: #e53935;
	transform: scale(1.03);
}
