body {
	margin: 5px;
}

.app-container {
	display: flex;
	justify-content: center;
	text-align: center;
}

.app-container-aic {
	padding-inline: 20px;
}

button {
	width: 100%;
	font-size: 1.1rem;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	transition: background 0.3s ease, transform 0.2s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 30px;
	gap: 8px;
}

/* Botón para iniciar llamada */
.btn-startCall-3mt {
	height: 50px;
	background: linear-gradient(190deg, #003da5 0%, #2e81c4 100%);
	color: white;
}

.btn-startCall-3mt:hover {
	transform: scale(1.03);
}

.btn-startCall-wsc {
	height: 52px;
	background-color: #fa9500;
	color: #000;
}

.btn-startCall-wsc:hover {
	background-color: #fca421;
	transform: scale(1.03);
}

.btn-startCall-smc {
	height: 52px;
	background: linear-gradient(190deg, #003da5 0%, #00beee 100%);
	color: #fff;
}

.btn-startCall-aic {
	height: 52px;
	background-color: #262252 !important;
	border: 2px solid rgb(56, 52, 121) !important;
	color: white !important;
	transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
	background: rgb(93, 254, 202);
	box-shadow: 1px 1px 10px rgb(93, 254, 202);
}

.glow-on {
	width: 100%;
	height: 52px;
	border: none;
	outline: none;
	color: #fff;
	background-color: #262252 !important;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 50px;
}

.glow-on:before {
	content: '';
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 30px;
}

.glow-on:active:after {
	background: transparent;
}

.glow-on:before {
	opacity: 1;
}

.glow-on:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #262252;
	left: 0;
	top: 0;
	border-radius: 30px;
}
.glow-on-stop-call:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #d80400;
	left: 0;
	top: 0;
	border-radius: 30px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.btn-startCall-smc:hover {
	transform: scale(1.03);
}

.btn-startCall-aic:hover {
	background-color: #5a54c6 !important;
	border-color: #7873f5 !important;
	transform: scale(1.05);
	cursor: pointer;
}

/* Botón para detener llamada */
.btn-stopCall {
	background-color: #f44336;
	color: white;
}

.threemt {
	border-radius: 30px;
	height: 50px;
}

.btn-stopCall:hover {
	background-color: #e53935;
	transform: scale(1.03);
}

.powered-by {
	display: block;
	font-size: 10px;
	opacity: 0.7;
	margin-top: -5px;
}

.button-content {
	display: flex;
	align-items: center;
	gap: 8px;
}

.container-realestate {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.input-form {
	width: 250px;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 30px;
}

.select-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	margin: 1rem 0;
}

.select-label {
	color: #000;
	font-size: 1.5rem;
}

.select-dark {
	background-color: #1f2937; /* gris oscuro */
	color: #ffffff;
	border: 1px solid #4b5563; /* borde gris */
	border-radius: 6px;
	padding: 0.5rem 2rem;
	font-size: 1rem;
	appearance: none;
	transition: border-color 0.2s, box-shadow 0.2s;
}

.select-dark:focus {
	border-color: #3b82f6;
	box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.4); /* azul suave */
	outline: none;
}
